{% extends 'blog_app/base.html' %}
{% load static %}

{% block title %}DetailPost{% endblock %}

{% block content %}


    <div class="container-fulid">
        <div class="row">
          <div class="col-12">
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                {{ form.image }}
                <label class="custom-file-label" for="{{ form.image.id_for_label }}">Image</label>
              </div>
              <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }}
              </div>
              <div class="form-group">
                <label for="{{ form.intro.id_for_label }}">Short text</label>
                {{ form.intro }}
              </div>
              <div class="form-group">
                <label for="{{ form.text.id_for_label }}">Body post</label>
                {{ form.text }}
              </div>
              <div class="form-group" id="input-slug">
                <label for="{{ form.slug.id_for_labael }}">Tags</label>
                {{ form.slug }}
              </div>
              <div class="form-group" id="input-tags">
                <label for="{{ form.tags.id_for_labael }}">Tags</label>
                {{ form.tags }}
              </div>

              <table>{{ content_forms }}</table>
              
              <div class="form-group mt-4 mb-0">
                <input class="btn btn-primary btn-block" type="submit" name="create_post_form" value="Создать POST">
              </div>
            </form>

          </div>
        </div>
      </div>
{% endblock %}