{% extends 'blog_app/base.html' %}
{% load static %}

{% block title %}DetailPost{% endblock %}

{% block content %}
    <!-- content block -->
    <div class="container mt-3 d-flex flex-column">
        <div class="container form-block">
            <h4>title</h4>
            <div>
                <div class="current">
                    {{ article.title }}
                </div>
                <div class="btn-block">
                    <a type="button" class="btn btn-success my-2 my-sm-0">change</a>
                </div>
                <div class="form-element">
                    <form id="title_form" name="{{ article.slug }}" onsubmit="sendAjaxUpdateTitle(this, event)" enctype="multipart/form-data" novalidate="true"></form>
                        {% csrf_token %}
                        <label for="{{ form_title.title.id_for_label }}"></label>
                        {{ form_title.title }}
                        <button type="submit" class="btn btn-success my-2 my-sm-0">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container form-block">
            <h4>image</h4>
        </div>
        <div class="container form-block">
            <h4>content items</h4>
        </div>
        <div class="container form-block">
            <h4>tags</h4>
        </div>
        <div class="container form-block">
            <h4>settings</h4>
        </div>

    </div>
{% endblock %}

